---
layout: default
title: Retro computer collection - 8bithe.art
---

{% assign all_manufacturers = site.retro_collection | group_by: "manufacturer" %}
{% assign last_accession_num = site.retro_collection | map: "accession" | compact | sort | last %}

<h1>Collection by manufacturer</h1>

<p>
    {{ site.retro_collection | size | minus: 1 }} machines
    from {{ all_manufacturers | size | minus: 1 }} manufacturers in collection.
    Last accession number: {{ last_accession_num }}
    (<a class="page-link" href="{{ site.baseurl }}/retro_collection/by_number.html">View by accession number</a>)
</p>

{% for system_category in all_manufacturers %}
    {% assign category_name = system_category.name %}

    {% if category_name.size == 0 %}
        {% assign category_name = "Unassigned" %}
    {% endif %} 

    <h2>{{category_name}}</h2>
    <ul>
        {% for system in system_category.items %}
            {% unless system.name contains ".html" %}
                <li>
                    <a class="page-link" href="{{ system.url | prepend: site.baseurl }}">{{system.model}} ({{system.accession}})</a>
                </li>
            {% endunless %}
        {% endfor %}
    </ul>
{% endfor %}
