<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <h3>Social</h3>
                <ul class="social-media-list">
                    <li>
                        {% if site.instagram_username %}
                        {% include icon-instagram.html username=site.instagram_username %}
                        {% endif %}
                    </li>
                    <li>
                        {% if site.github_username %}
                        {% include icon-github.html username=site.github_username %}
                        {% endif %}
                    </li>
                    <li>
                        {% if site.linkedin_username %}
                        {% include icon-linkedin.html username=site.linkedin_username %}
                        {% endif %}
                    </li>
                </ul>
            </div>

            <div class="footer-col">
                <h3>Other things</h3>
                Copyright 2024 John Riney
            </div>
        </div>
    </div>
</footer>
